/**
 * Sections
 */

.cs__section {
    &__bg {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}

@import "sections/intro";