/**
 * Base 
 */
 
*::-webkit-media-controls-panel {
    display: none!important;
    -webkit-appearance: none;
}
*::--webkit-media-controls-play-button {
    display: none!important;
    -webkit-appearance: none;
}
*::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
}

::selection {
	background: $primary-color;
	color: $white;
}

#wpadminbar * { min-width: 0; }
html, body { height: 100%; }
#page {
    min-height: 100vh;
    overflow-x: hidden;
    padding-top: $header__height;
    position: relative;
}
body {
    overflow-x: hidden;
    word-wrap: break-word;

    //&.menu-active { overflow: hidden; }
}
.scrollbar-measure {
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
    width: 100px;
}